

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family:'Helvetica', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  font-family: 'Helvetica', sans-serif;
  text-align: center;
  width: auto;
  border: none;
  margin: 8rem; 
  padding: 0px 10px;
}


nav {
  position: relative;
  margin: 0;
  padding-top: 0px;
  top: 0;
}



.page-footer{
  bottom: 0;
}

.fa-instagram {
  font-size: 40px;
  color: black
}

.fa-instagram:hover {
  color: red;
  transition: 0.5s;
}


.carousel img {

  height: 100%;
  width: 100%;
  object-fit: contain;
}

.carousel-item,
.carousel-inner,
.carousel-inner img {
  height: 100%;
  width: auto;
}

.carousel-item {
  text-align: center;
}


.carousel {
  height: 700px;
}

.carousel-control {
  opacity: 0;
}

.img-gallery {
  width: 80%;
  margin: 100px auto 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}

.img-gallery img {
  width: 100%;
  cursor: pointer;
}








